* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primeryfont: "Cabin", sans-serif;
  --logofont: "Pacifico";
  --secondryfont: "PT Serif", serif;
  --secondrycolor: #0e2954;
  --primarycolor: #575797;
  --btncolor: #47b5ff;
  --background: #ecfcff;
}
::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
  color: var(--primarycolor);
  font-family: var(--primeryfont);
  background-color: var(--background);
}
/* ======== home ========== */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(background.png);
  background-position: center center;
  background-size: cover;
}
/* ===== header ===== */
.header {
  width: 90%;
  height: fit-content;
  margin: auto;
  display: flex;
  /* padding: 40px 20px 20px 20px; */
  /* background-color: #f8f8ff; */
}
.header .intro,
.header-img {
  height: 100%;
  width: 50%;
  position: relative;
}
.header-img {
  display: flex;
  justify-content: center;
  /* background-color: #9ce4fb; */
}
.header-img img {
  display: block;
  width: 100%;
}
.header .intro {
  padding: 20px;
  position: relative;
  top: 50px;
  left: 40px;
  /* background-color: blueviolet; */
}
.header .intro h1 {
  font-family: var(--secondryfont);
  text-transform: capitalize;
  font-size: 55px;
  word-spacing: 7px;
  font-weight: 800;
  color: var(--secondrycolor);
  /* text-shadow: 2px 1px 1px#0000009b; */
}
.header .intro p {
  margin: 30px 0px 15px 0px;
  font-size: 1.3em;
  word-spacing: 4px;
  line-height: 30px;
}
.header button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 40px;
  width: 250px;
  font-size: 25px;
  font-weight: 700;
  font-family: var(--secondryfont);
  background-color: var(--btncolor);
  color: var(--background);
  word-spacing: 6px;
  outline: none;
  letter-spacing: 1px;
  border: 2px solid var(--btncolor);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px#0000009b;
  transition: all 0.4s ease;
}
.header button:hover {
  transform: scale(1.1);
  color: var(--btncolor);
  background-color: var(--background);
  border: 2px solid var(--btncolor);
}
/* ========= running-icons ========== */
@keyframes animate {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.running-icons{
  height: 100px;
  width: 99%;
  margin: auto;
  overflow: hidden;
  position: relative;
  top: 50px;
  display: flex;
}
.running-icons .icon-wrapper{
  animation: animate 40s linear infinite;
  display: inline-flex;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  color: #0e2954;
}
.running-icons .icon-wrapper .icon-slide{
  font-size: 40px;
  margin-inline: 20px;
}
/* ================ sidebar ========== */
.sidebar {
  min-height: 100%;
  width: 80px;
  padding: 6px 14px;
  z-index: 1000;
  background-color: #47b5ffa6;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.136);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  font-family: var(--secondryfont);
  box-shadow: 3px 3px 5px #0000009b;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-mobile {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-mobile .logo-name {
  color: var(--secondrycolor);
  font-size: 22px;
  font-weight: 700;
  opacity: 0;
  transition: all 0.5s ease;
  font-weight: 700;
}
.sidebar.open .logo-mobile .logo-name {
  opacity: 1;
}
.sidebar .logo-mobile #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-name #btn {
  text-align: right;
}

.sidebar i {
  /* color: var(--background); */
  color: var(--secondrycolor);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 28px;
  /* font-weight: 500; */
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: var(--background);
  color: var(--secondrycolor);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  /* background-color: var(--); */
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}
.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--secondrycolor);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}
.sidebar li a:hover::after {
  transform: scaleX(1);
  color: var(--background);
}

.sidebar li a .link-name {
  color: var(--secondrycolor);
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}
.sidebar li a:hover .link-name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--background);
}
.sidebar.open li a .link-name {
  opacity: 1;
  pointer-events: auto;
}

/* ======== braekpoints =========== */
@media (max-width: 600px) {
  .header {
    display: block;
  }
  .header .intro,
  .header-img {
    width: 100%;
    padding-left: 25px;
  }
  .header .intro h1 {
    font-size: 40px;
  }
  .header .intro {
    position: relative;
    top: 0;
    left: 30px;
  }
  .header-img {
    margin-top: 20px;
  }
  .sidebar {
    width: 80px;
  }
}
