* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primeryfont: "IBM Plex Sans", sans-serif;
  --logofont: "Pacifico";
  --secondryfont: "Playfair Display", serif;
  --secondrycolor: #9ce4fb;
  --primarycolor: #f8f8ff;
  --btncolor: #144172;
}
::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
  color: var(--primarycolor);
  font-family: var(--primeryfont);
  background-color: var(--btncolor);
}
/* ======== home ========== */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(/img/background.png);
  background-position: center center;
  background-size: cover;
}
/* ========== navbar ========== */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #1441726a;
  display: flex;
}
.navbar .logo {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}
.navbar .logo img {
  display: inline-block;
  width: 50px;
  margin-left: 20px;
}
.navbar .nav-elements {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .nav-elements a {
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-family: var(--secondryfont);
  font-weight: 600;
  color: var(--primarycolor);
  letter-spacing: 1px;
  padding: 2px 5px;
  transition: 0.5s;
}
/* hover design for nav-elements */
.navbar .nav-elements a::after {
  content: "";
  position: absolute;
  background-color: var(--secondrycolor);
  height: 2px;
  width: 0;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: 0.5s;
}
.navbar .nav-elements a:hover {
  letter-spacing: 0px;
}
.navbar .nav-elements a:hover::after {
  width: 100%;
}
.nav-elements svg{
  fill: var(--primarycolor);
  transform: scale(1.5);
}
/* ==== searchbox ==== */

/* ===== header ===== */
.header {
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-block: 20px;
  display: flex;
  /* background-color: #f8f8ff; */
}
.header .intro,
.header-img {
  height: 100%;
  width: 50%;
}
.header-img {
  display: flex;
  justify-content: center;
  /* background-color: #9ce4fb; */
}
.header-img img {
  display: block;
  width: 100%;
  position: relative;
  top: -50px;
}
.header .intro {
  padding: 20px;
  position: relative;
  top: 30px;
  /* background-color: blueviolet; */
}
.header .intro h1 {
  font-family: var(--secondryfont);
  text-transform: capitalize;
  font-size: 50px;
  word-spacing: 5px;
  color: var(--secondrycolor);
  text-shadow: 2px 2px #0000009b;
}
.header .intro p {
  margin: 30px 0px 15px 0px;
  font-size: 1.2em;
  word-spacing: 4px;
}
.header .intro .login-btn {
  width: 120px;
  height: 40px;
  padding-bottom: 5px;
  font-size: 22px;
  font-family: var(--secondryfont);
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  border: none;
  background-color: var(--secondrycolor);
  color: var(--btncolor);
  border-radius: 10px;
  transition: 0.7s;
  margin-inline-end: 10px;
}
.header .intro .login-btn:hover {
  background-color: var(--btncolor);
  border: 2px solid var(--secondrycolor);
  color: var(--secondrycolor);
  box-shadow: 2px 0px 10px var(--secondrycolor);
  letter-spacing: 1px;
}
.header .intro .signin-btn {
  width: 250px;
  height: 40px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
  font-family: var(--secondryfont);
  text-transform: capitalize;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  background-color: var(--btncolor);
  border: 2px solid var(--secondrycolor);
  color: var(--secondrycolor);
  box-shadow: 1px 0px 10px var(--secondrycolor);
  transition: 0.5s;
}
.header .intro .signin-btn:hover {
  letter-spacing: 1px;
}
